body {
    background-color: #F8F5F0; 
    color: #2B2B2B; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    margin-left: 40px;  
    margin-right: 40px; 
}
header {
    background-color: #C44536; 
    color: #F8F5F0; 
    padding: 10px 0;    
    font-weight: bold;
    border-bottom: 3px solid #DDC3A5; 
}
footer {
    background-color: #EAD0C1; 
    color: #2B2B2B;
    padding: 15px 0;
    border-top: 2px solid #DDC3A5;
    margin-top: 5s0px;
}
img {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
a {
    text-decoration: none;
    color: rgb(173, 70, 75);
}
a:hover {
    color: darkblue;
    text-decoration: underline;


}